.assistencia_bread { background-position: 79%; background-size: 134%; }

.breadcrumb_page .assistencia_ico_bread { background-position: -67px -272px; width: 23px; height: 22px; margin-right: 13px; }

.titulo_pagina_bg { background: url(../images/assistencia/bg_assitencia.jpg); height: 209px; }

.titulo_pagina_bg h1 { color: #FFF; font-size: 50px; font-weight: bold; margin-bottom: 50px; }

.symbol_count { font-weight: 900; font-size: 72px; color: #f5821f; margin-right: 15px; }

.c_especializada { width: 65px; height: 94px; background-position: -273px -215px; }

.s_24h { width: 79px; height: 86px; background-position: -348px -215px; }

/* Duvidas */
section.perguntas_respostas { padding-top: 60px; background: #f8f7f7; }

section.perguntas_respostas h2 { font-size: 50px; font-weight: bold; color: #f5821f; margin-bottom: 0px; }

/*Slider fotos*/
.slider_fotos { padding-bottom: 43px; }

.slider_fotos .slick-list.draggable { padding-top: 0; padding-bottom: 15px; }

.slider_fotos .slick-slide { margin: 0; }

.slider_fotos .slick-next { right: 70px; opacity: 1; z-index: 9; width: 26px; height: 41px; background: url(../images/sprite.png); background-position: -244px -221px; }

.slider_fotos .slick-next::before { content: ''; display: none; }

.slider_fotos .slick-prev { left: 70px; opacity: 1; z-index: 9; width: 26px; height: 41px; background: url(../images/sprite.png); background-position: -214px -221px; }

.slider_fotos .slick-prev::before { content: ''; display: none; }

.slider_fotos .thumb_slider .slick-slide { margin-left: 8px; margin-right: 8px; }

.item_encontra .icone_caixa_encontra { height: 95px; margin-bottom: 22px; display: flex; align-items: center; }
