
.breadcrumb_page{
    .contato_bread{
        background-position: -69px -225px;
        width: 26px;
        height: 22px;
        margin-right: 13px;
    }
}
.padding_contato8{
    padding-left: 40px;
}
.padding_contato4{
    padding-right: 72px;
}
section.mapa_ref {
    height: 472px;
}
.info_contato_ico{
    width: 50px;
}
.localizacao_info{
    margin-top: 57px;
    margin-bottom: 62px;
}
.botao_trabalhe{
    font-size: 24px;
    font-weight: bold;
    background: #231f20;
    color: #FFF !important;
    padding-left: 50px;
    padding-right: 50px;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 14px;        
}  

.conteudo_pagina_interna{
    .sect2_footer{
        h2{
            font-size: 30px;
        }
    }
    .cada_coluna_footer {
        max-width: 289px;
        margin-right: 75px;
        font-size: 18px;
        line-height: 30px;
        a{
            color: #FFF;
        }
        &:last-child{
            margin-right: 0;
            max-width: 435px;
        }
        .cel_icon2{
            background-position: -123px -215px;
            width: 31px;
            margin-right: 5px;
            left: -7px;
            height: 35px;
        }
        .map_icon2{
            background-position: -102px -225px;
            min-width: 20px;
            margin-right: 15px;
            height: 22px;
        }
    }
    .linkedin_icon{
        background-position: -161px -215px;
        width: 49px;
        height: 46px;
    }     
}