.breadcrumb_page{
    .produtos_ico_bread{
        background-position: -67px -298px;
        width: 23px;
        height: 22px;
        margin-right: 13px;
    }
}
.produtos_page{
    padding-top: 23px;
}
.sidebar_produtos{
    h2{
        width: 100%;
        font-size:18px;
        color: #FFF;
        background: #231f20;
        font-weight: bold;
        text-transform: uppercase;
        border-radius: 20px;
        padding: 12px; 
        padding-left: 25px;
        margin-bottom: 18px;  
    }
    h3{
        width: 100%;
        font-size:16px;
        color: #FFF;
        background: #f5821f;
        font-weight: bold;
        border-radius: 20px;
        padding: 13px;
        padding-left: 25px;  
    }
    ul{
        padding-left: 0;
        list-style: none;
        margin-bottom: 10px;
        li{
            margin-top: 8px;
            width: 100%;
            font-size: 16px;
            color: #231f20;
            background: #f8f7f7;
            font-weight: normal;
            padding: 11px;
            border-radius: 20px;
            padding-left: 25px;
            cursor:pointer;
            transition: 0.3s;
            &:hover{
                background: #231f20;
                color: #f5821f;
            }          
            a{

            }
        }
    }
}

// Search Buttons 

.listagem_page_produtos{
    input{
        border-radius: 25px;
        border: 1px solid #d4d4d4;
        height: 46px;
        width: 100%;
        padding-left: 25px;
        margin-bottom: 18px;
        color: #231f20;
        font-size: 13px;
        
        &::placeholder{
            color: #231f20;
            font-size: 13px;  
        }
    }
}

.search_button{
    background: url(../images/sprite.png);
    background-position: -502px 0px;
    width: 31px;
    height: 34px;
    border: none;
    position: absolute;
    right: 10px;
    top: 6px;
}

// Paginação
.paginacao_produtos{
    margin-top: 35px;
    margin-bottom: 28px;
    .cada_page {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f8f7f7;
        border-radius: 50%;
        margin-right: 10px;
        color: #231f20;
        font-size: 14px;
        cursor: pointer;
        transition: .3s;
        &:hover{
            background: #231f20;
            color: #FFF;
        }
    }
    .cada_page.active_page {
        background: #f5821f;
        
        color: #FFF;
    }    
}

.btn_hamburg{
    position: absolute;
    top: 14px;
    right: 20px;
}
