@media (min-width: 768px) and (max-width: 1024px) { //Tablet

    .carousel-caption {
        bottom: 0;
        width: 710px;
        padding-left: 0;
        z-index: 1;
    }
    .linha_ciza {
        background-position: -190px;
    }    
    .texto_caption {
        margin-bottom: 100px;
    }    
    .slick-next {
        right: -38px;
    }
    .slick-prev {
        left: -38px;
    }
    .esquerda_homem {
        width: 266px;
        height: 349px;
        padding-left: 0;
    }
    .form_ligamos .envia_form {
        padding: 11px 26px;
    }
    .esquerda_homem img {
        position: absolute;
        top: -68px;
        left: -159px;
    }
    .fotos_instagram {
        overflow: hidden;
    }
    .cada_coluna_footer{
        margin-right: 156px;
        margin-bottom: 35px;
        &:nth-of-type(2){
            margin-right: 0;
        }
        &:nth-of-type(4){
            margin-right: 0;
        }        
    }
    .videoAqui{
        left: -20px;
        position: relative;
    }
    .breadcrumb_page{
        background-position: 1177px;
    }
    /* Pagina Contato */

    .localizacao_info {
        margin-top: 0;
        margin-bottom: 30px;
        margin-left: 0;
    }
    .botao_trabalhe{
        margin-bottom: 0px;
    }
    .redes_sociais_sec iframe {
        width: 100%;
    }
    /* Pagina Cadastre */

    .form_cadastro {
        padding: 32px 50px 3px 50px;
    }

    /* Quem Somos */
    .imagem_50 {
        background: url(../images/quemsomos/quemsomos_01.jpg);
        width: 720px;
        height: 380px;
        position: relative;
        margin: 0 auto;
        background-size: cover;
    }
    .css_quem{    
        .linhaHover {
            width: 663px;
            margin-left: -119px;
        }
        .texto_linha_tempo{
            padding-top: 37px;
        }
        .slick-active:nth-of-type(2) .linhaHover{
            margin-left: -260px;
        } 
        .slick-active:nth-of-type(3) .linhaHover{
            margin-left: -373px;
        }
        .slick-slide:nth-child(n+4):nth-child(-n+10) .linhaHover {
            margin-left: -498px;
        }                         
    }
    .missao_visao_items {
        .slick-slide {
            margin-right: 5px;
            margin-left: 5px;
        }
        .item_encontra{
            height: inherit;
            padding: 20px;
            padding-top: 54px;
            padding-bottom: 46px;
            h4{
                font-size: 24px;
            }
        }
    }
/* produtos Interna */

    .produtos_page_interna img {
        max-width: 100%;
    }
    .produto_descricao_page a.botao_carrinho {
        min-width: 247px;
        padding: 4px 12px;
        font-size: 15px;
        height: 55px;
    }
    .produto_descricao_page a.botao_download_ficha {
        padding: 2px 4px;
    }
    .produto_descricao_page .icone_download_p {
        min-width: 30px;
    }
    .produto_items .slick-prev {
        left: -24px;
    }
        /* orçamento */

        .table_orcamento h3 {
            padding: 10px 41px;
            font-size: 20px;
        }
        .cada_carrinho {
            min-width: 94px;
        }
        .cada_carrinho .titulo_carrinho h4 {
            font-size: 15px;
        }   
        
        .assistencia_bread{
            background-position: -250%;
            background-size: cover;
        }
}
@media (max-width: 480px) // Mobile
{
    //Topo
    .links_top {
        margin-left: 0;
        justify-content: center;
        width: 100%;
    }
    .logo{
        padding-top: 0px;
        img{
            width: 77%;
            margin-left: 13px;
        }
    }
    .hamburger {

        top: 40px;
        right: -14px;
    }
    .carousel-caption {
        bottom: 115px;
        width: 320px;
        padding-left: 0;
        z-index: 1;
        h2{
            font-size: 39px;
            line-height: 38px;
            text-align: center;
        }
        h3{
                font-size: 25px;
                text-align: center;
        }
        .imagem_caption {
            width: 247px;
            height: 277px;
            margin: 0 auto;
            margin-bottom: 15px;
        }        
    }
    .slick-next {
        right: 15px;
    }
    .slick-prev {
        left: 15px;
        z-index: 9;
    }
    .slick-list.draggable {
        margin-left: 55px;
        margin-right: 55px;
    }
    .open_menu .hamburger {
        top: -60px;
        right: 0%;
    }
    .titulo_secao{
        h3{
            font-size: 36px;
        }
        h2{
            font-size: 18px;
        }
    }
    .texto_count{
        font-size: 22px;
        font-weight: 300;
        color: #FFF;
        line-height: 22px;
        span{
            font-size: 55px;
        }
    }
    .videoAqui{
        width: 320px;
        margin: 0 auto;
        height: 188px;
        border-radius: 5px;
        box-shadow: 11px 11px 35px 0px rgba(0, 0, 0, 0.55);
        overflow: hidden;
    }
    .produtos_videos iframe {
        overflow: hidden;
        width: 100%;
        height: 188px;
    }
    .depoimentos_carousel h3{
        font-size: 26px;
        line-height: normal;
        color: #000000;
        font-weight: normal;
    }
    .direita_ligamos {
        h3 {
            font-size: 18px;
            color: #FFF;
            font-weight: normal;
            margin-bottom: 0;
            text-align: center;
        }
        h4{
            font-size: 38px;
            font-weight: bold;
            color: #FFF;
            text-align: center;
        }
    }
    .redes_sociais_sec{
        iframe{
            width: 100%;
        }
        img{
            width: 100%;
        }
    }
    .logo_footer {
        text-align: center;
    }
    
    /* Pagina Contato */
    .breadcrumb_page{
        background-position: 750px;
    }
    .localizacao_info {
        margin-top: 24px;
        margin-bottom: 23px;
    }
    .conteudo_pagina_interna .cada_coluna_footer .map_icon2 {
        background-position: -95px -225px;
        min-width: 26px;
        margin-right: 15px;
        height: 22px;
    }
    .conteudo_pagina_interna .cada_coluna_footer{
        margin-bottom: 40px;
    }
    .botao_trabalhe {
        padding-left: 45px;
        padding-right: 45px;
    }
    .padding_contato4 {
        padding-right: 22px;
        padding-left: 50px;
    }
    
    /* Pagina Cadastre-se */

    .form_cadastro {
        padding: 14px 10px 3px 10px;
        text-align: center;
    }
    label.form-check-label {
        font-size: 13px;
        line-height: 16px;
    }

    /* Quem Somos */

    .imagem_50 {
        background: url(../images/quemsomos/quemsomos_01.jpg);
        width: 320px;
        height: 185px;
        position: relative;
        margin: 0 auto;
        background-size: cover;
    }
    .conteudo_pagina_interna h1{
        font-size: 37px;
    }

    .css_quem .linha .slick-list.draggable {
        z-index: 10;
        margin-left: 0px;
        margin-right: 0px;
        padding: 23px;
    }    
    .linha .slick-next {
        right: -35px;
    }
    .linha .slick-prev {
        left: -35px;
    }
    .css_quem .ano {
        padding-top: 31px;
    }
    .css_quem .slick-track .slick-slide:nth-of-type(even) .ano {
        padding-top: 23px;
    }  
    .css_quem .imagem_linha_tempo {
        display: none;
    }
    .css_quem .linhaHover {
        width: 210px;
        margin-top: 64px;
        top: 100%;
        margin-left: -55px;
        z-index: 20;
        display: none;
    }
    .css_quem .texto_linha_tempo {
        background: #FFF;
        margin-left: 0px;
        border-radius: 20px;
        padding-left: 17px;
        padding-top: 32px;
        padding-right: 17px;
        font-size: 14px;
        box-shadow: 1px 1px 6px 3px #00000024;
    }
    .slick-slide:nth-child(n+2):nth-child(-n+4) .linhaHover {
        margin-left: -150px;
    }
    .missao_visao_items .slick-slide{
        margin-left: 7px;
        margin-right: 7px;
    }
    .missao_visao_items .slick-list.draggable {
        margin-left: 35px;
        margin-right: 35px;
    }
    .missao_visao_items{
        .slick-next:before, .slick-prev:before {
            font-family: slick;
            width: 33px;
            content: '';
            font-size: 20px;
            line-height: 1;
            opacity: .75;
            color: #fff;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            height: 43px;
            background: url(../images/sprite.png);
            display: block;
        }
        .slick-next:before {
            background-position: -6px -237px !important;
        }
        .slick-prev:before {
            background-position: -4px -192px !important;
        } 
        .slick-next {
            right: 2px;
        }
        .slick-prev {
            left: -2px;
        }         
    }
    .missao_visao_items .item_encontra{
        height: inherit;
    }
/* Assistencia */
    .assistencia_bread{
        background-position: -175%;
        background-size: cover;
        font-size: 14px;
    }
    p.subtitulo_pagina {
        text-align: center;
    }
    .conteudo_pagina_interna .subtitulo_pagina {
        margin-bottom: 0
    }
    section.perguntas_respostas h2 {
        font-size: 37px;
        text-align: center;
        margin-bottom: 17px;
    }
    .cliente_radio {
        padding-top: 14px;
    }
    .formulario_entreemcontato .btn_round.btn_laranja {
        margin-left: 0;
    }
    .slider_fotos .slick-prev {
        background-size: 376px;
        background-position: -193px -278px;
        width: 11px;
        height: 15px;
    }
    .slider_fotos .slick-next {
        background-size: 376px;
        background-position: -205px -278px;
        width: 11px;
        height: 15px;
    }

    /* Produtos Interna */

    .produtos_page_interna img {
        max-width: 100%;
    }
    .thumb_produto .slick-list {
        margin: 0 !important;
    }
    .produto_informacoes .padding-title {
        flex-wrap: wrap;
        margin-bottom: 30px;
    }
    .produto_informacoes h1 {
        font-size: 38px;
    }
    .produto_descricao_page a.botao_veja_preco {
        font-size:15px;
    }
    .entre_contato_produto {
        border: 0;
    }
    .produto_descricao_page a.botao_carrinho {
        min-width: 240px;
        padding: 5px 6px;
        font-size: 15px;
        height: 59px;
    }
    .produto_descricao_page a.botao_download_ficha {
        padding: 1px 5px;
        min-width: 102px;
        font-size: 12px;
    }
    .produto_descricao_page .icone_download_p {
        min-width: 30px;
        margin-left: 1px;
    }
    .produto_items .slick-list.draggable {
        margin: 0 0px;
    }
    .nossos_produtos .slick-list.draggable{
        margin-left: 55px;
        margin-right: 55px;
    }  
    .titulo_produto_list h4 {
        font-size:17px;
    }
    /* produtos */
    .listagem_page_produtos {
        overflow-x: hidden;
        padding: 0 20px;
    }
    /* Suporte */
    .conteudoDuvidas {
        margin-top: 30px;
    }
    .produtos_videos img {
        max-width: 100%;
    }
    .contato_suporte .form_cadastro {
        padding-left: 17px;
        padding-right: 20px;
    }
    .form_cadastro h3 {
        text-align: center;
        margin-bottom: 20px;
    }
    .conteudo_pagina_interna h1 {
        font-size: 36px;
    }

    /* orçamento */

    .carrinho_table  {
        flex-wrap: wrap
    }
    .formulario_entreemcontato {
        padding-left: 20px;
        padding-right: 20px;
    }
    .info_contato h3 {
        text-align: center;
    }
    .cada_carrinho {
        min-width: 94px;
    }
    .cada_carrinho.flex-grow-1 {
        flex-basis: 0;
        min-width: 208px;
    }
    .cada_carrinho {
        min-width: 94px;
        margin-bottom: 20px;
    }
    .cada_carrinho .titulo_carrinho h4 {
        font-size: 17px;
    }
    a.proxima_etapa {
        font-size: 24px;
        padding: 11px 31px;
        height: 55px;
    }
    .table_orcamento h3 {
        padding: 10px 27px;
        font-size: 22px;
        margin-top: 12px;
    }          
    .slick-next, .slick-prev {
        width: 26px;
        height: 43px;
        overflow: hidden;
    } 
    
    //Alterações

    .slider_fotos .slick-list.draggable{
        margin-left: 15px;
        margin-right: 15px;
    }
    .slider_fotos .slick-next{
        right: 30px;
    }
    .slider_fotos .slick-prev{
        left: 30px;
    }
    .slider_fotos .slick-slide img{
        width: 100%;
    }    

    .linha .slick-next:before, .linha .slick-prev:before {
        font-family: slick;
        width: 18px;
        content: '';
        font-size: 20px;
        line-height: 1;
        opacity: 1;
        color: #fff;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        height: 28px;
        background: url(../images/sprite.png);
        display: block;
        top: 0px;
        position: relative;
    }
    .linha .slick-next:before, .linha .slick-prev:before {
        font-family: slick;
        width: 18px;
        content: '';
        font-size: 20px;
        line-height: 1;
        opacity: 1;
        color: #fff;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        height: 28px;
        background: url(../images/sprite.png);
        display: block;
        top: 0px;
        position: relative;
    }       
    a.suporte_btn{
        font-size: 16px;
        height: auto;
    } 
    .interna_produtos_bread{
        background-size: inherit;
        background-position: 646px;
    }
}