@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');


@font-face {
font-family: 'Gotham Black';
font-style: normal;
font-weight: normal;
src: local('Gotham Black'), url('fonts/Gotham Black Regular.woff') format('woff');
}

@font-face {
font-family: 'Gotham Book';
font-style: normal;
font-weight: normal;
src: local('Gotham Book'), url('fonts/GOTHAMBOOK.woff') format('woff');
}

$laranja: #f5821f;
$preto: #231f20;

body{
    font-family: 'Roboto', sans-serif;
}
@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

a{
    text-decoration: none;
    transition: .3s;
    &:hover{
        text-decoration: none;
        color: #ef7b0b;
    }
}
// Header 
header.topo{
    background: #FFFF;
    color: $preto;
}
.linha_ciza{
    background:url(../images/linha_ciza.png) center;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 58px;
    z-index: 1;
}
.texto_top{
    z-index: 2;
    position: relative;
}
.logo{
    padding-top: 15px;
    padding-bottom: 17px;
    margin-right: 70px;
}
.btn_round{
    background: $laranja;
    color: #FFF;
    font-weight: 700;
    border-radius: 30px;
    text-align: center;
    font-size: 16px;
    align-items: center;
    padding-left: 29px;
    padding-right: 29px;
    padding-top: 8px;
    padding-bottom: 8px;
    transition: .3s;
    &:hover{
        background: #231f20;
        color: #FFF;
    }
}

.top_nav{
    padding-top: 7px;
}
.central_atendimento{
    font-size: 16px;
    text-transform: uppercase;
    span{
        font-weight: 900;
    }
}
.links_top{
    margin-left: 70px;
    a.entre{
        text-decoration: underline;
        font-size: 16px;
        margin-right: 15px;
        color:$preto;
    }
    .btn_cadastro{
        margin-right: 19px;
    }
    .lupa_search{
        width: 34px;
        height: 32px;
        background: url(../images/sprite.png);
        background-position: -33px -1px;
        display: block;
        position: relative;
        margin-right: 15px;
        cursor: pointer;
    }
    .carrinho_top{
        width: 28px;
        height: 27px;
        //background: url(../images/sprite.png);
        //background-position: -68px -3px;
        display: block;
    }    
}

#navbarNav{

    li 
    {
        a{
            font-size: 16px;
            font-weight: 900;
            color: #231f20;
            padding: 6px 16px;
            border-radius:20px;
            overflow: hidden;
        }
        &:first-child a{
            padding-left:0;
        }
        &:last-child a{
            padding-right:0;       
        }        
    }
    span.homebtn{
        width: 30px;
        height: 28px;
        background: url(../images/sprite.png);
        background-position: 1px 0px;
        display: block;
    }
    li.active a{
        background: $laranja;
        color: #FFF;
    }
    .dropdown-toggle::after{
        color: #f5821f;
    }
    .dropdown-menu {
    background: #231f20;
    padding-left: 0;
    border: 0;
        a{
            color: #FFF;
        }
        .dropdown-item{
            border-left: 2px solid transparent;
            border-radius: 0;
            font-weight: normal;
            font-size: 14px;            
        }
        .dropdown-item:focus, .dropdown-item:hover{
            text-decoration: none;
            border-left: 2px solid $laranja;
            background-color: #45454600;
            border-radius: 0 !important;
        }
    }    
}

.bottom_nav{
    padding-top: 25px;
    padding-bottom: 8px;
}

// Carousel

.slider{
    .carousel-indicators{
        bottom:55px;
    }
}
.carousel-item img{
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}
.texto_caption {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.carousel-caption{
    bottom: 0;
    z-index: 10;
    color: #fff;
    text-align: left;
    width: 1140px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 137px;
    h2{
        font-family: 'Gotham Black';
        color: #FFF;
        font-size: 74px;
        letter-spacing: -0.04em;
        text-transform: uppercase;
        margin-bottom: 0;
    }
    h3{
        font-family: 'Gotham Book';
        color: #FFF;
        font-size: 48px;
        letter-spacing: -0.04em;
        text-transform: uppercase;
    }
}
.carousel-control-prev-icon{
    background: url(../images/sprite.png);
    background-position: -341px 0px;
    width: 28px;
    height: 42px;
}
.carousel-control-next-icon{
    background: url(../images/sprite.png);
    background-position: -371px 0px;
    width: 28px;
    height: 42px;
}
.carousel-control-next, .carousel-control-prev {
    opacity: 1;
}
.carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .2;
    transition: opacity .6s ease;
}
.carousel-indicators .active{
    background-color: #1a1e32;
}

.imagem_caption{
    left: unset !important;
    transform: initial !important;
    position: relative !important;
}


.carousel-indicators .active:after {
    content: '';
    width: 18px;
    height: 18px;
    background: #f050;
    display: block;
    border-radius: 50%;
    border: 2px solid #1a1e32;
    top: 50%;
    left: 50%;
    position: relative;
    transform: translate(-50%, -50%);
}

.titulo_secao{
    h2{
        font-size: 20px;
        color: $preto;
        font-weight: normal;
    }
    h3{
        color: #f5821f;
        font-weight: bold;
        font-size: 50px;
        margin-bottom: 35px;
    }
}
// Produtos e Serviços

.produtos_servicos{
    padding-top: 40px;
    padding-bottom: 55px;
    .slick-next:before, .slick-prev:before {
        font-family: slick;
        width: 26px;
        content: '';
        font-size: 20px;
        line-height: 1;
        opacity: .75;
        color: #fff;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        height: 43px;
        background: url(../images/sprite.png);
        display: block;
    }
    .slick-next:before {
        background-position: -6px -237px !important;
    }
    .slick-prev:before {
        background-position: -4px -192px !important;
    }         
}

.item_encontra{
    width: 213px;
    background: #FFF;
    box-shadow: 0px 0px 12px 2px #00000014;
    border-radius: 10px;
    margin-right: 25px;
    padding: 30px 19px;
    height: 100%;
    transition: background-color .5s ease;
    .icone_caixa_encontra {
        height: 76px;
        margin-bottom: 22px;
    }    
    cursor: pointer;
    h4{
        color: #1a1e32;
        font-size: 18px;
        font-weight: normal;
        width: 100%;
        text-align: center;
    }
    &:last-child{
        margin-right: 0;
    }
    &:hover{
        background:#231f20;
        h4{
            color: #FFF;
        }
    }
}
.icon_encontra{
    background: url(../images/sprite.png);
    margin-bottom: 0px;
}
.v_topografos{
    background-position: -101px 0px;
    width: 52px;
    height: 75px;
}
.a_topografos{
    background-position: -152px 0px;
    width: 49px;
    height: 75px;
}
.m_garantia{
    background-position: -401px 3px;
    width: 92px;
    height: 75px;
}
.s_tecnico{
    background-position: -202px 0px;
    width: 76px;
    height: 75px;
}
.e_desenvolvimento{
    background-position: -279px 0px;
    width: 61px;
    height: 75px;
}
// Produtos em Destaque

.nossos_produtos{
    padding-top: 44px;
    padding-bottom: 77px;
    background: url(../images/bg_produtossec.png) #f8f7f7 center top;
    background-blend-mode: multiply;
}
.produto_items{
    .slick-slide {
        margin-right: 0;
        margin-left: 0;
    }
    .slick-next:before, .slick-prev:before {
        font-family: slick;
        width: 26px;
        content: '';
        font-size: 20px;
        line-height: 1;
        opacity: .75;
        color: #fff;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        height: 43px;
        background: url(../images/sprite.png);
        display: block;
    }
    .slick-next:before {
        background-position: -6px -237px !important;
    }
    .slick-prev:before {
        background-position: -4px -192px !important;
    }     
}
.cada_produto_list{
    background: #FFF;
    border-radius: 13px;
    box-shadow: 0px 0px 9px 1px #00000030;
    overflow: hidden;
    &:hover{
        .titulo_produto_list{
            background: $laranja;
            
        }
    }
}
.imagem_produto_list{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 296px;
}
.titulo_produto_list{
    background: #231f20;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    transition: background-color .3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    h4{
        color: #FFF;
        font-size: 18px;
        margin-bottom: 0;
        font-weight: normal;
    }
}

// Nossos Serviços
.nosso_servicos{
    padding-top: 53px;
    padding-bottom: 55px;
    .slick-slide {
        margin-right: 0;
        margin-left: 0;
    }
    .slick-next:before, .slick-prev:before {
        font-family: slick;
        width: 26px;
        content: '';
        font-size: 20px;
        line-height: 1;
        opacity: .75;
        color: #fff;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        height: 43px;
        background: url(../images/sprite.png);
        display: block;
    }
    .slick-next:before {
        background-position: -6px -237px !important;
    }
    .slick-prev:before {
        background-position: -4px -192px !important;
    }     
}
.servicos_item {
    margin-top: 37px;
}
.cada_servico_list{
    background: #FFF;
    border-radius: 13px;
    box-shadow: 0px 0px 11px 3px #0000001a;
    overflow: hidden;
    height: inherit;
    cursor: pointer;
    transition: background-color .3s linear;
    &:hover{
        background: $laranja;
        .descricao_servico_list{
            
            h4{
                color: #FFF;
            }
            p{
                color:#FFF;
            }
        }
        .manut_icon{
            background-position: -96px -151px;
            width: 63px;
            height: 65px;
        }
        .loca_icon{
            background-position: -161px -151px;
            width: 48px;
            height: 65px;
        }
        .treina_icon{
            background-position: -211px -151px;
            width: 63px;
            height: 65px;
        }
        .suport_icon{
            background-position: -279px -151px;
            width: 56px;
            height: 65px;
        }        
    }    
}
.imagem_servico_list{
    height: 173px; 
    overflow: hidden;
    img{
        width: 100%;
    }
}
.descricao_servico_list{
    padding: 20px 28px ;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: background-color .3s linear;
    padding-bottom: 10px;
    h4{
        font-size: 24px;
        color: $preto;
        font-weight: normal;
        width: 100%;
    }
    p{
        font-size: 14px;
        color: $preto;
        line-height: 24px;
    }

    
}
.icone_servico{
    background: url(../images/sprite.png);
    margin-bottom: 15px;
}
.manut_icon{
    background-position: -96px -84px;
    width: 63px;
    height: 65px;
}
.loca_icon{
    background-position: -161px -84px;
    width: 48px;
    height: 65px;
}
.treina_icon{
    background-position: -211px -84px;
    width: 63px;
    height: 65px;
}
.suport_icon{
    background-position: -279px -84px;
    width: 56px;
    height: 65px;
}
.padding_servico {
    padding-left: 18px;
    padding-right: 18px;
}

// Section Countdown

.countdown_embratop{
    background:#232323;
    padding-top: 33px;
    padding-bottom: 33px;
}
.texto_count{
    font-size: 26px;
    font-weight: 300;
    color: #FFF;
    line-height: 26px;
    span{
        font-size: 72px;
        display: block;
        font-weight: 900;
        color: #FFF;
        margin-right: 15px;
    }
}

.icone_count{
    background: url(../images/sprite.png);
    margin-right: 15px;
}
.produtos_vend_icon{
    background-position: -344px -71px;
    width: 59px;
    height: 82px;
}
.anos_merc_icon{
    background-position: -406px -72px;
    width: 72px;
    height: 69px;
}
.clientes_atend_icon{
    background-position: -406px -141px;
    width: 85px;
    height: 61px;
}

//Section Video
.produtos_videos{
    padding-top: 48px;
    width: 100%;
    overflow: hidden;
    iframe{
        overflow: hidden;
        width: 100%;
    }
}
.videoIncorporado{
    margin-bottom: 72px;
}
.videoAqui {
    width: 752px;
    margin: 0 auto;
    height: 422px;
    border-radius: 5px;
    box-shadow: 11px 11px 35px 0px rgba(0, 0, 0, 0.55);
    overflow: hidden;
}

//Depoimentos
.depoimentos{
    padding-top: 48px;
    padding-bottom: 25px;
    .titulo_secao{
        h3{
            margin-bottom: 20px;
        }
    }
}
#sliderDepoimentos{
    padding-bottom: 45px;
}
.depoimentos_carousel{
    .carousel-indicators li {
        background-color: #1a1e32;
        background-clip: padding-box;
        opacity: .3;
    }
    .carousel-indicators{
        margin-bottom: 0;
    }
    .carousel-item {
        text-align: center;
    }
    .carousel-indicators .active{
        opacity: 1;
    }
    h3{
        font-size: 30px;
        line-height: 50px;
        color:#000000;
        font-weight: normal;
    }
    h4{
        font-weight: normal;
        color: $laranja;
        font-size: 20px;
        span{
            font-size: 16px;
        }
    }
}

// Nós ligamos para você

.nos_ligamos{
    background: #f5821f;

}
.esquerda_homem{
    width: 593px;
    height: 349px;
    z-index: 2;
    position: relative;
    padding-left: 37px;
    img{
        position: absolute;
        top: -69px;
    }
}
.direita_ligamos{
    padding-top: 55px;
    width: 100%;
    position: relative;
    z-index: 3;
    h3{
        font-size: 20px;
        color: #FFF;
        font-weight: normal;
        margin-bottom: 0;
    }
    h4{
        font-size: 50px;
        font-weight: bold;
        color: #FFF;
    }
}

.form_ligamos{
    input.input-group {
        background: #ffffff47;
        border: 0;
        padding: 13px 20px;
        border-radius: 25px;
        &::placeholder{
            color: #FFF;
            font-size: 14px;
        }
    }
    textarea.input-group {
        background: #ffffff47;
        border: 0;
        padding: 13px 20px;
        border-radius: 25px;
        height: 107px;
        &::placeholder{
            color: #FFF;
            font-size: 14px;
        }        
    }
    .form-group {
        margin-bottom: 9px;
    }
    .envia_form{
        font-size: 14px;
        font-weight: bold;
        background: #000;
        color: #FFF;
        border-radius: 25px;
        padding: 11px 31px;
        border: 0;
        transition: .3s;
        &:hover{
            background: #ef7b0b;
        }
    }        
}

// Redes Sociais SEC

.redes_sociais_sec{
    padding-top: 48px;
    padding-bottom: 55px;
}

.icon_social_box{
    background: url(../images/sprite.png);
    margin-right: 15px;
    display: block;
}
.facebook_icon{
    background-position: 1px -37px;
    width: 46px;
    height: 46px;
}
.instagram_icon{
    background-position: -46px -37px;
    width: 49px;
    height: 46px;
}
.titulo_socialbox{
    font-size:28px;
    color: $laranja;
    font-weight: bold;
    margin-bottom: 21px;
}

// Footer
footer{
    ul{
        list-style: none;
        padding-left: 0;
    }
    a{
        color: #FFF;
        text-decoration: none;
    } 
}
.sect1_footer{
    background: #231f20;
    padding-top: 39px;
    padding-bottom: 25px;
    color: #FFF;
    font-size: 18px;
    line-height: 30px;   
    .cada_item_contato{
        width: 100%;
    }
}
.links_contato_footer{
    width:100%;
    padding-left: 30px;
}

.icone_contato{
    background: url(../images/sprite.png);
    margin-right: 10px;
    width: 27px;
    height: 27px; 
}
.tel_icon{
    background-position: -10px -89px;
}
.cel_icon{
    background-position: -10px -122px;  
}
.mail_icon{
    background-position: -12px -155px;
    height: 15px;
    min-width: 21px;
}
.map_icon{
    background-position: -45px -88px;
    height: 23px;
    width: 32px;
}
.laranja_contato{
    span{
        color: $laranja;
    }
}

.sect2_footer{
    background: #f5821f;
    padding-top: 42px;
    padding-bottom: 30px;
    color: #FFF;
    font-size: 14px;
    line-height: 22px;
    h2{
        font-size: 21px;
        color: #231f20;
        font-weight: 300;
        span{
            font-weight: bold;
            display: block;
        }
    }
    a{
        &:hover{
            color: #231f20;
        }
    }
}
.icone_block_f {
    min-width: 28px;
    display: flex;
    justify-content: center;
    .icone_contato{
        margin-right: 2px;
    }
    .map_icon2{
        background-position: -70px -89px;
        height: 17px;
        width: 13px;
        margin-top: 4px;
    }
   
}

.cel_icon2{
    background-position: -61px -111px;
    width: 23px;
    margin-right:5px;
    left: -7px;
} 
.cada_coluna_footer {
    max-width: 228px;
    margin-right: 56px;
    &:last-child{
        margin-right: 0;
        max-width: 330px;
    }
}
.oneline_icon{
    margin-top: 1px;
}
.sect3_footer{
    background: #FFF;
    padding-top: 12px;
    padding-bottom: 11px;
    font-size: 18px;
    color: #231f20;
    .redLogo{
        background: url(../images/sprite.png);
        background-position: -50px -173px;
        height: 20px;
        width: 41px;
        margin-left: 16px;
        position: relative;
        top: -2px;
    }
    .icon_social_box{
        background: url(../images/sprite.png);
        display: block;
    }
    .linkedin_ico{
        background-position: -55px -140px;
        width: 33px;
        height: 31px;
    }    
}

//SLICK
.slick-list.draggable {
    padding-top: 15px;
    padding-bottom: 15px;
    
}

.slick-slide{
    margin-right: 10px;
    margin-left: 10px;
}
.sect_interna{
    background: #f5821f;
    color: #FFF;
}


/* Formulários e Informações de Contato */

.info_contato{
    font-size: 18px;
    line-height: 30px;
    h2{
        font-weight: bold;
        color: #231f20;
        font-size: 30px;
        margin-bottom: 20px;
    }
    a{
        color: #231f20;
    }
    a.laranja_link{
        color: #f5821f;
    }
    h3{
        font-weight: bold;
        font-size: 30px;
        color: #f5821f;
        margin-bottom: 30px;
    }
    input{
        border-radius: 25px;
        padding: 10px 15px;
        color: #231f20;
        border: 1px solid #d4d4d4;
        height: 45px;
        font-size: 13px;
        margin-bottom: 15px;
        &::placeholder{
            color: #231f20;
        }
    }
    select{
        border-radius: 25px;
        padding: 10px 15px;
        color: #231f20;
        border: 1px solid #d4d4d4;
        height: 45px;
        font-size: 13px;
        margin-bottom: 15px;
        &::placeholder{
            color: #231f20;
        }
    }    
    textarea{
        border-radius: 25px;
        padding: 10px 15px;
        padding-top: 25px;
        color: #231f20;
        border: 1px solid #d4d4d4;
        height: 192px;
        font-size: 13px;
        margin-top: 12px;
        margin-bottom: 14px;
        &::placeholder{
            color: #231f20;
        }
    }
    .custom-select{
        background: url(../images/bg_select.png) no-repeat right 13px center/9px 8px;
    }
    .btn_round.btn_laranja{
        border: none;
    }
    .label--checkbox,
    .label--radio {
      position: relative;
      margin: .5rem;
      line-height: 135%;
      cursor: pointer;
    } 
    .form-check {
        position: relative;
        display: block;
        padding-left: 10px;
        display: flex;
        align-items: center;
        height: 40px;
    }       
    .radio {
        position: relative;
        height: auto;
        margin: 0 1rem 0 0 ;
        
        cursor: pointer;
        
        &:before {
            -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
            -moz-transition: -moz-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
            transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
            -webkit-transform: scale(0, 0);
            -moz-transform: scale(0, 0);
            -ms-transform: scale(0, 0);
            -o-transform: scale(0, 0);
            transform: scale(0, 0);
            content: "";
            position: absolute;
            top: -1px;
            left: 1px;
            z-index: 1;
            width: 14px;
            height: 14px;
            background: #f5821f;
            border-radius: 50%;
        }
        
        &:checked {
          &:before {
            -webkit-transform: scale(1, 1);
            -moz-transform: scale(1, 1);
            -ms-transform: scale(1, 1);
            -o-transform: scale(1, 1);
            transform: scale(1, 1);
          }
        }
        
        &:after {
            content: "";
            position: absolute;
            top: -0.25rem;
            left: -0.125rem;
            width: 20px;
            height: 20px;
            background: #fff;
            border: 1px solid #d4d4d4;
            border-radius: 50%;
        }
      } 
}

/* Breadcrumb page e titulos padrão */

.breadcrumb_page{
    background: url(../images/bg_breadcrumb.jpg) center top;
    padding: 7px 0;
    color: #FFF;
    font-size: 16px;
    font-weight: 300;
    .titulo_bread{
        font-weight: bold;
    }
    .icone_breadcrumb{
        background: url(../images/sprite.png);
    }
}
.conteudo_pagina_interna{
    padding-top: 48px;

    h1{
        font-size: 50px;
        font-weight: bold;
        color: #f5821f;
        margin-bottom: 0;
    }  
}
p.subtitulo_pagina{
    color: #231f20;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 41px;
} 

/** Custom Select **/
.custom-select2-wrapper {
    position: relative;
    display: inline-block;
    user-select: none;
    width: 100%;
  }
    .custom-select2-wrapper select {
      display: none;
    }
    .custom-select2 {
      position: relative;
      display: inline-block;
      width: 100%;
    }
      .custom-select2-trigger {
        position: relative;
        display: block;
        width: 100%;
        padding: 0 30px 0 18px;
        font-size: 13px;
        font-weight: normal;
        color: #231f20;
        line-height: 43px;
        background: #ffffff;
        border-radius: 25px;
        cursor: pointer;
        border: 1px solid #d4d4d4;
      }
        .custom-select2-trigger:after {
          position: absolute;
          display: block;
          content: '';
          width: 10px; height: 10px;
          top: 50%; right: 25px;
          margin-top: -3px;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 9px solid #ef7b0b; 
          transition: all .4s ease-in-out;
     
        }
        .custom-select2.opened .custom-select2-trigger:after {
          margin-top: 3px;
          transform: rotate(-180deg) translateY(100%);
        }
    .custom-options {
      position: absolute;
      display: block;
      top: 100%;
      left: 0;
      right: 0;
      min-width: 100%;
      margin: 4px 0;
      border-radius: 4px;
      box-sizing: border-box;
      box-shadow: 0 2px 1px rgba(0,0,0,.07);
      background: #ffffff;
      transition: all .4s ease-in-out;
      z-index: 99;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transform: translateY(-15px);
    }
    .custom-select2.opened .custom-options {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        transform: translateY(0);
        box-shadow: 0px 4px 12px 3px #0000000d;
    }
      .custom-options:before {
        position: absolute;
        display: block;
        content: '';
        bottom: 100%; right: 25px;
        width: 7px; height: 7px;
        margin-bottom: -4px;
        border-top: 1px solid #b5b5b5;
        border-left: 1px solid #b5b5b5;
        background: #fff;
        transform: rotate(45deg);
        transition: all .4s ease-in-out;
      }
      .option-hover:before {
        background: #f9f9f9;
      }
      .custom-option {
      position: relative;
      display: block;
      padding: 0 22px;
      border-bottom: 1px solid #ef7b0b38;
      font-size: 12px;
      font-weight: 600;
      color: #253434;
      line-height: 40px;
      cursor: pointer;
      transition: all .4s ease-in-out;
      }
      .custom-option:first-of-type {
        border-radius: 4px 4px 0 0;
      }
      .custom-option:last-of-type {
        border-bottom: 0;
        border-radius: 0 0 4px 4px;
      }
      .custom-option:hover,
      .custom-option.selection {
         background: #f9f7fa;
      }

// Entre em contato
.entre_emcontato{
    padding-top: 46px;
    padding-bottom: 73px;
}
/* Entre em contato */
.formulario_entreemcontato{
    font-size: 14px;
    padding-top: 64px;
    padding-bottom: 44px;
    padding-left: 67px;
    padding-right: 67px;
    border-radius: 15px;
    box-shadow: -1px -1px 9px 7px #00000014;
    .btn_round.btn_laranja{
        margin-bottom: 0;
        margin-top: 11px;
        font-size: 13px;
        padding: 7px 28px;
    }
    input {
    margin-bottom: 10px !important;
    }
}
.cliente_radio{
    height: 45px;
}

/* Perguntas e Respostas */
.duvidas h4 a {
	color: #231f20;
	font-size: 14px;
	font-weight: bold;
}

.duvidas h4 {
    background: transparent;
    border-radius: 25px;
    padding: 15px 14px 14px 25px;
    margin-bottom: 12px;
    font-size: 14px;
    border: 1px solid #d0d0d0;
    font-weight: bold;
}

.iconeDuvidas i {
    padding: 16px 18px;
    background: #f5821f;
    border-radius: 100%;
    margin-left: 3px;
    color: #FFF;
}

.iconeDuvidas a {
	color: #FFF;
}

.panel-body {
    color: #FFF;
    font-weight: normal;
    font-size: 13px;
    padding: 26px 36px;
    margin-bottom: 20px;
    border: 1px solid #ebebeb;
    border-radius: 50px;
    line-height: 24px;
    background: #231f20;
    margin-top: 2px;
}
.duvidas{
    padding-top: 75px;
    padding-bottom: 78px;
    
}
.conteudoDuvidas{
    padding-top: 0px;
}
.icone_chevron {
    width: 47px;
    height: 47px;
    background: #f5821f;
    margin-left: 5px;
    border-radius: 50%;
    position: relative;
    transition: .2s;
}
a.accordion-toggle[aria-expanded="true"]{
    .up{
        background: url(../images/sprite.png);
        width: 20px;
        height: 10px;
        position: absolute;
        top: 54%;
        transform: translate(-50%, -50%);
        background-position: -16px -177px;
        left: 50%;
    }
    .icone_chevron{
        background: #231f20;
    }
}
a.accordion-toggle[aria-expanded="false"], a.accordion-toggle{
    .up{
        background: url(../images/sprite.png);
        width: 20px;
        height: 10px;
        position: absolute;
        top: 54%;
        transform: translate(-50%, -50%);
        background-position: 1px -176px;
        left: 50%;
    }

}

/* Form Cadastro */
.form_cadastro{
    font-size: 14px;
    padding: 32px 67px 3px 67px;
    margin-bottom: 43px;
    border-radius: 15px;
    border: 1px solid #d4d4d4;
    .btn_round.btn_laranja{
        margin-bottom: 30px;
        margin-top: 18px;
    }
    input {
    margin-bottom: 10px !important;
    }
    h3{
        margin-top: 30px;
    } 
}

/* Menu Mobile */
/* start menu */

.hamburger {
    position: absolute;
    display: block;
    top: 0px;
    right: -14px;
    cursor: pointer;
    z-index: 99999999;
    padding: 10px 15px 5px;
  }
  .icone_barras{
    width: 38px;
    height: 30px;
    background: url(../images/sprite.png);
    background-position: -7px -287px;
  }
  .hamburger span {
  vertical-align: middle;
  }
  .hamburger .bars {
  display: block;
  position: relative;
  width: 32px;
  height: 4px;
  background: #ba1700;
  border-radius: 80px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  }
  .hamburger .bars:before, .hamburger .bars:after {
  position: absolute;
  content: " ";
  width: 100%;
  height: 4px;
  background: #ba1700;
    border-radius: 80px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  }
  .hamburger .bars:before {
  top: 10px;
  }
  .hamburger .bars:after {
  bottom: 10px;
  }
  
  .open_menu .hamburger .bars {
  background-color: transparent;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  }
  .open_menu .hamburger .bars::before {
  top: 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  }
  .open_menu .hamburger .bars::after {
  bottom: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  }
  
  .mobile_menu {
  width: 290px;
  height: 100%;
  padding: 75px 20px 0;
  background: #f5821f;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.18);
  position: fixed;
  right: -100%;
  top: 0;
  opacity: 0;
  z-index: 999999;
  margin-top: 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  }
  .mobile_menu ul li a {
    color: #ffffff;
    width: 100%;
    padding: 13px 20px;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    transition: .5s;
    display: block;
    border-radius: 0;
    letter-spacing: 0.1em;
    margin-left: 0;
    border-bottom: 1px solid #fff;
  }
  .open_menu .hamburger {
    top: -60px;
    right: -28%;
    .icone_barras{
        background-position: -575px -66px;
        width: 40px;
        height: 40px;
    }
  }
  .mobile_menu ul {
  padding: 0;
  list-style: none;
  text-align: left;
  }
  .mobile_menu li {
    width: 100%;
  }
  .sticky {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 9999;
  }
  .mobile_menu a:hover {
  color: white;
  }
  .open_menu .mobile_menu {
  right: 0;
  opacity: 1;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  }
  .mobile_menu:hover {
  overflow-y: auto;
  }
  .mobile_menu .socialTopo {
    margin: 0;
    justify-content: flex-end;
    padding-top: 10px;
  }



/* start menu */

.hamburger2 {
    position: relative;
    display: block;
    top: -11px;
    right: 0px;
    cursor: pointer;
    z-index: 99999999;
    padding: 10px 15px 5px;
  }
  .icone_barras{
    width: 38px;
    height: 30px;
    background: url(../images/sprite.png);
    background-position: -7px -287px;
  }
  .hamburger2 span {
  vertical-align: middle;
  }
  .hamburger2 .bars {
  display: block;
  position: relative;
  width: 32px;
  height: 4px;
  background: #ba1700;
  border-radius: 80px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  }
  .hamburger2 .bars:before, .hamburger2 .bars:after {
  position: absolute;
  content: " ";
  width: 100%;
  height: 4px;
  background: #ba1700;
    border-radius: 80px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  }
  .hamburger2 .bars:before {
  top: 10px;
  }
  .hamburger2 .bars:after {
  bottom: 10px;
  }
  
  .open_menu .hamburger2 .bars {
  background-color: transparent;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  }
  .open_menu .hamburger2 .bars::before {
  top: 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  }
  .open_menu .hamburger2 .bars::after {
  bottom: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  }
  
  .mobile_menu2 {
  width: 290px;
  height: 100%;
  padding: 75px 20px 0;
  background: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.18);
  position: fixed;
  right: -100%;
  top: 0;
  opacity: 0;
  z-index: 999999;
  margin-top: 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  }
  .mobile_menu2 ul li a {
    color: #ffffff;
    width: 100%;
    padding: 13px 20px;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    transition: .5s;
    display: block;
    border-radius: 0;
    letter-spacing: 0.1em;
    margin-left: 0;
    border-bottom: 1px solid #fff;
  }
  .open_menu .hamburger2 {
    top: -60px;
    right: -28%;
    opacity: 0;
    .icone_barras{
        background-position: -575px -66px;
        width: 40px;
        height: 40px;
    }
  }
  .mobile_menu2 ul {
  padding: 0;
  list-style: none;
  text-align: left;
  }
  .mobile_menu2 li {
    width: 100%;
  }
  .mobile_menu2 a:hover {
  color: white;
  }
  .open_menu .mobile_menu2 {
  right: 0;
  opacity: 1;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  }
  .mobile_menu2:hover {
  overflow-y: auto;
  }
  .mobile_menu2 .socialTopo {
    margin: 0;
    justify-content: flex-end;
    padding-top: 10px;
  }  

  .excluir_btn{
    width: 40px;
    height: 40px;
    background: url(../images/sprite.png);
    background-position: -575px -66px;
}
  /* Modal */
  .modal {
    background: #ff5e00a3;
}
.modal-header {
    background: #ffffff;
    color: #333;
    border-bottom: 0;
    h5{
        font-size: 30px;
        font-weight: bold;
        color: #ef7b0b;
        text-align: center;
    }
}
.modal-content {
    border: none;
    border-radius: 25px;
    overflow: hidden;
}

/*Search box*/
.search-box{
    background: #ffffff;
    position: absolute;
    top: 54px;
    right: 0;
    width: 365px;
    height: 60px;
    line-height: 60px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-top: 4px solid #f5821f;
    display: none;
    z-index: 9;
    border-radius: 25px;
  }
  
  .search-box:before{
    content: "";
    position: absolute;
    top: -28px;
    right: 13px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 14px solid transparent;
    border-bottom: 14px solid #f5821f;
  }
  
  .search-box input[type="text"]{
    width: 205px;
    padding: 5px 10px;
    margin-left: 23px;
    border: 0;
    outline: none;
    height: 55px;
    top: -9px;
    position: relative;
  }
  
  .search-box input[type="button"]{
    width: 82px;
    padding: 5px 0;
    background: #ffffff;
    color: #fff;
    margin-left: -6px;
    border: 0;
    outline: none;
    height: 52px;
    cursor: pointer;
  }
  

  /*menu hover */
  nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
/* stroke */
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:before,
nav.fill ul li a:before {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
nav.stroke ul li a:hover:before {
  width: 100%;
}

nav.fill ul li a {
  transition: all 2s;
}

nav.fill ul li a:before {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
nav.fill ul li a:hover {
  color: #fff !important;
  z-index: 1;
}
nav.fill ul li a:hover:before {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

/* Keyframes */
@-webkit-keyframes fill {
    0% {
      width: 0%;
      height: 1px;
    }
    50% {
      width: 100%;
      height: 1px;
    }
    100% {
      width: 100%;
      height: 100%;
      background: #f5821f;
    }
  }

  // SLick alterações

  .slick-track{
      display: flex !important;
  }
  .slick-slide{
      height: inherit;
  }
  .slick-slide > div{
    height: 100%;
}  

//MODAL VIDEO
#ModalVideo{
    .modal-dialog {
        max-width: 800px;
        margin: 30px auto;
    }
  
  
  
  .modal-body {
    position:relative;
    padding:0px;
  }
  .close {
    position:absolute;
    right:-30px;
    top:0;
    z-index:999;
    font-size:2rem;
    font-weight: normal;
    color:#fff;
    opacity:1;
  }
}

.button_play.video-btn {
    display: block;
    position: absolute;
    background: url(../images/sprite.png);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
	width: 67px;
    height: 68px;
    background-position: -503px -107px;    
    border: none;
    cursor: pointer;
}

a.proxima_etapa{
    font-size: 24px;
    padding: 11px 50px;
}
